/* General style */
:root {
	--main-color: #297a98;
	--background-color: #efefef
}

* {
	font-family: 'Roboto';
	margin: 0px 0px 0px 0px;
}

body {
	background: var(--background-color);
	height: 100%;
	width: 100%;
}

img {
	max-width: 100%;
}

header {
	background: white;
	height: 56px; /* Magic number copied from youtube, i dont have a better proposition */
}

header > nav {
	height: 100%;
	display: flex;
	align-items: center;
}

header > nav > * {
	margin-left: 8px;
	margin-right: 8px;
}

header > nav > .logo {
	height: 100%;
	display: flex;
	flex: 1;
}

.logo img {
	margin-right: 8px;
}

header > nav .logo > .logo-name {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-weight: bold;
	justify-content: center;
}

header > nav .links-header {
	display: flex;
	flex-wrap: wrap;
}

header > nav .links-header > .link {
	margin-right: 8px;
}

/* Main file html */
main {
	height: 100%;
}

#logo-first-name {
	color: var(--main-color);
}

.flat-button {
	color: var(--main-color);
}

.elevated-button {
	border-radius: 8px;
	font-weight: bold;
	padding: 8px;
	background: var(--main-color);
	color: white;
}

main :is(h1, h2, h3, h4, h5, h6) {
	font-weight: bold;
	color: var(--main-color);
}

.image-container {
	display: none;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 10px;
}
/* end main file html */

@media (min-width:641px) {
	header > nav .logo > .logo-name {
		font-size: 1.5em;
		text-transform: capitalize;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10px;
	}

	.image-container {
		margin: auto;
		display: inline;
	}
}

